
body {
    background: url("/img/wallpaper.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 37rem;
    border: 2px solid black;
}

form {
    width: 30rem;
    height: 20rem;
}